* {
  background-color: #4A412A;
  color: #A19B4E;
}

body {
  width: 200vh;
  height: 200vh;
}

.bend {
  background-color: #4A412A;
  color: #A19B4E;
  transform: translate(20px,-00px) rotate(0.86turn);

}
